html, body {
	height: 100%;
}

img {
	max-height: 200px;
}

h3 {
	margin: 0;
}

.btn {
	width: 300px;
	padding: 0 5px 0 5px;
	text-align: center;
	color: black;
}

.home {
	margin: 0;
	height: 100%;
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

img {
	border-radius: 1px;
	box-shadow: 5px 5px 20px;
	margin: 20px;
}